assets/project1/n8n-project1-simple-workflow.json
{
  "id": "3aKejBkfh3mRP22S",
  "name": "[과제] 프로젝트1 - Google Form 분기 저장 자동화 (n8n)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project1-google-form-to-sheet-simple",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "aeb098f3-c9db-4814-bfb4-4f9bc8478b8a",
      "name": "[P1] Google Form 제출 Webhook",
      "webhookId": "1c25c9c0-81b8-46d2-b9b4-4d9553937319"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da8ff457-a2ef-4fc5-bcf1-80891cb8d122",
              "name": "제출시간",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "0693524c-68c7-4ff9-bc6e-53486bc92237",
              "name": "이름",
              "value": "={{ $json.body[\"이름\"] || $json.body.name || \"\" }}",
              "type": "string"
            },
            {
              "id": "d2e9dd96-88da-478c-80cd-51d6d947eab8",
              "name": "이메일",
              "value": "={{ $json.body[\"이메일\"] || $json.body.email || \"\" }}",
              "type": "string"
            },
            {
              "id": "e5f21157-b4f6-4c40-b726-ce4223636c70",
              "name": "카테고리",
              "value": "={{ $json.body[\"카테고리\"] || $json.body.category || \"일반\" }}",
              "type": "string"
            },
            {
              "id": "5c499f3c-b96e-4392-9c98-9fc65a1f3741",
              "name": "내용",
              "value": "={{ $json.body[\"문의내용\"] || $json.body[\"내용\"] || $json.body.message || \"\" }}",
              "type": "string"
            },
            {
              "id": "2dfc183e-6075-4a88-96c9-d8e8f575d2f0",
              "name": "제목",
              "value": "={{ \"[프로젝트1] \" + ($json.body[\"카테고리\"] || $json.body.category || \"일반\") + \" 문의\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        0
      ],
      "id": "d416400f-0551-4e87-b68c-34c7948cfb48",
      "name": "[P1] 입력값 정리"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19XxGARcj6roOINm1FCvJIDPWOTmtB0YaQXfm_N7AkHs",
          "mode": "list",
          "cachedResultName": "CS Desk",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19XxGARcj6roOINm1FCvJIDPWOTmtB0YaQXfm_N7AkHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19XxGARcj6roOINm1FCvJIDPWOTmtB0YaQXfm_N7AkHs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "이름": "={{ $json[\"이름\"] }}",
            "이메일": "={{ $json[\"이메일\"] }}",
            "내용": "={{ $json[\"내용\"] }}",
            "카테고리": "={{ $json[\"카테고리\"] }}",
            "제목": "={{ $json[\"제목\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "이름",
              "displayName": "이름",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "이메일",
              "displayName": "이메일",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "내용",
              "displayName": "내용",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "카테고리",
              "displayName": "카테고리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "제목",
              "displayName": "제목",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        540,
        0
      ],
      "id": "18c04093-8c56-472d-b96a-95838b3339c1",
      "name": "[P1] Google Sheets에 행 추가",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pW6CTqVeBi6zwwqL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('[P1] 입력값 정리').item.json[\"카테고리\"] }}",
                    "rightValue": "긴급",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "긴급"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('[P1] 입력값 정리').item.json[\"카테고리\"] }}",
                    "rightValue": "일반",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "일반"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "2d1233d2-e982-484f-b0d0-61c3553aadde",
      "name": "[P1] 카테고리 조건 분기"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1730c8d-0a98-4e8c-8576-857381e26089",
              "name": "처리분기",
              "value": "긴급",
              "type": "string"
            },
            {
              "id": "8d5324db-fc54-4ac5-9582-b2794df1c9ff",
              "name": "결과기록",
              "value": "긴급 문의로 분류되어 긴급 처리 경로를 실행함",
              "type": "string"
            },
            {
              "id": "b17da19f-82a2-4122-84f1-700c47795802",
              "name": "실행확인",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        -120
      ],
      "id": "4083c6d4-5dc8-4246-983e-a0bd6c5385fd",
      "name": "[P1] 긴급 결과 기록"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a92d5622-c401-4fc4-8cda-e52cd4b056e5",
              "name": "처리분기",
              "value": "일반",
              "type": "string"
            },
            {
              "id": "d6e5813e-700b-4cef-b8ba-0bbe81c6dc53",
              "name": "결과기록",
              "value": "일반 문의로 분류되어 일반 처리 경로를 실행함",
              "type": "string"
            },
            {
              "id": "f4d55980-8aa1-41cf-b912-5e9c360431aa",
              "name": "실행확인",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        120
      ],
      "id": "625f4531-8625-4be5-8aab-99add71b65b2",
      "name": "[P1] 일반 결과 기록"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Google Sheets 저장 및 카테고리 분기 완료', name: $('[P1] 입력값 정리').item.json['이름'], category: $('[P1] 입력값 정리').item.json['카테고리'], branch: $json['처리분기'], result: $json['결과기록'] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1360,
        0
      ],
      "id": "2e3483eb-8be0-4242-ba5e-085fc93827a4",
      "name": "[P1] 저장 및 분기 완료 응답"
    },
    {
      "parameters": {
        "content": "## 프로젝트1 제출용 n8n\nGoogle Form 제출 → 입력값 정리 → Google Sheets 저장 → 카테고리 조건 분기 → 일반/긴급 결과 기록\n\n분기 기준: 카테고리에 '긴급' 또는 '일반' 포함",
        "height": 260,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -320
      ],
      "id": "0f3906a8-e0e8-4265-8327-28065402177b",
      "name": "[P1] 설명"
    }
  ],
  "connections": {
    "[P1] Google Form 제출 Webhook": {
      "main": [
        [
          {
            "node": "[P1] 입력값 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[P1] 입력값 정리": {
      "main": [
        [
          {
            "node": "[P1] Google Sheets에 행 추가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[P1] Google Sheets에 행 추가": {
      "main": [
        [
          {
            "node": "[P1] 카테고리 조건 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[P1] 카테고리 조건 분기": {
      "main": [
        [
          {
            "node": "[P1] 긴급 결과 기록",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[P1] 일반 결과 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[P1] 긴급 결과 기록": {
      "main": [
        [
          {
            "node": "[P1] 저장 및 분기 완료 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[P1] 일반 결과 기록": {
      "main": [
        [
          {
            "node": "[P1] 저장 및 분기 완료 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "createdAt": "2026-06-23T04:35:05.812Z",
  "updatedAt": "2026-06-23T05:38:41.722Z"
}